<h1>Locofinder</h1>
<p>Welcome <%= @user.email %>,</p>
<p>Explore the endless possiblities with Locofinder. Click the link below to verify your email and enable your account.</p>
<a href="<%= root_path %>user/enable_account/<%= @user.id + '?token=' + @user.token %>">Enable My Acount!</a>
