<div class="user-banner">
  <%= small_profile_img(user) %>
  <h3><%= user.email %></h3>
</div>
<%= render partial: "photo/collection", locals: {collection: user.photos, title: "", collumns: user.collumns, limit: 6, location: nil, user: user.id} %>
