<div class="user-banner">
  <%= small_profile_img(user) %>
  <h3><%= user.email %></h3>
</div>
<%= render partial: "photo/collection", locals: {collection: user.photos.first(6), title: "", collumns: user.collumns} %>
