<% if signed_in? %>
  <%= link_to "Create New Location", new_location_path %>
<% end %>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<div id="map"></div>
<script type="text/javascript" charset="utf-8">var ROOT_URL = '<%= root_url %>';</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKJD9rLWLCIKWyk-2cPc8tCQaYWk4lUqg&callback=initMap">
</script>
<%= javascript_include_tag "map-logic" %>
