<footer>
  <div class="container">
    <div class="row">
      <div class="four columns">
        <p></p>
      </div>
      <div class="four columns">
        <center><h1>GeoFocus</h1></center>
        <center><p>Version 1.0</p></center>
        <center><p>Miguel Rust & Jack Leonard &copy2018</p></center>
        <% if signed_in? %>
          <% if current_user.role == "admin" %>
            <center><%= link_to "Admin", report_index_path %></center>
          <% end %>
        <% end %>
      </div>
      <div class="four columns">
        <p></p>
      </div>
    </div>
  </div>
</footer>
