<div class="scroll-to-top" id="scrollToTop">
    <div class="scroll-to-top__carot">
    </div>
</div>
<script>
    const scrollToTopWidget = document.querySelector("#scrollToTop");

    const determineWheterToShow = () => {
        if(window.scrollY > window.innerHeight*0.25){
            scrollToTopWidget.className = "scroll-to-top scroll-to-top-show";
        }else{
            scrollToTopWidget.className = "scroll-to-top";
        }
    }

    const determineIfAtFooter = () => {
        if(window.scrollMaxY - window.scrollY < 300){
            console.log("At Footer!");
            scrollToTopWidget.className = "scroll-to-top scroll-to-top-show scroll-to-top-footer";
        }
    }

    window.onload = () => {
        determineWheterToShow();
    }

    window.onscroll = () => {
        determineWheterToShow();
        determineIfAtFooter();
    }

    scrollToTopWidget.addEventListener("click", () => {
        window.scroll({
            left: 0,
            top: 0,
            behavior: "smooth"
        });
    });
</script>