/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
 font-family: 'Avenir Light';
 src:font-url('avenirlight.ttf');
}
@font-face {
 font-family: 'Avenir Heavy';
 src:font-url('avenirheavy.ttf');
}
@import "variables";
@import "img-card";
@import "nav";
@import "footer";
@import "modal";
@import "map";
@import "user";
@import "location-search";
@import "review-card";
@import "content-loader";
@import "charts";

html, body{
  overflow-x: hidden;
  font-family:'Avenir Light' !important;
  background-color: $light-text-color;
  padding-top: 50px;
}
.field{
  margin-bottom: 20px;
}
.form-group{
  margin-bottom: 20px;
}
.show-image{
  width: 100%;
}
textarea{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
tr{
  font-size: 1.5em;
}

.cropit-preview{
  border: 1px solid $primary-color;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cropit-image-zoom-input{
  width: 400px;
  display: block;
}
/* Location Header Styles */
.location-header{
  margin-top: -20px;
  position: relative;
  display: block;
  height: 400px;
  overflow: hidden;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  margin-bottom: 20px;
}
.location-header>h1{
  color: $light-text-color;
  position: absolute;
  font-size: 4em;
  left:0px;
  right:0px;
  top: 50%;
  text-align: center;
  margin: 0px !important;
  transform: translate(0,-50%);
}

//Scroll To Top Widget Styles

.scroll-to-top{
  position: fixed;
  background-color: $primary-color;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  opacity: 0;
  transition: opacity ease 1s;

  &__carot{
    width: 20px;
    height: 20px;
    border-width: 5px 0px 0px 5px;
    margin-top: 10px;
    border-color: $light-text-color;
    transform: rotate(45deg);
    border-style: solid;
  }

  &:hover{
    background-color: $dark-text-color;
    cursor: grab;
  }
}

.scroll-to-top-show{
  opacity: 1;
}