/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.img-card{
  position: relative;
  height: 400px;
}
.img-holder{
  overflow: hidden;
  height: 250px;
}
.img-card .button{
  position: absolute;
  bottom: 0;
}
.img-holder img{
  min-width: 100%;
  max-width: 200%;
  min-height: 100%;
}
textarea{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
tr{
  font-size: 1.5em;
}
.nav{
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav ul{
  list-style: none;
  display: inline;
}
.nav li{
  text-decoration: none;
  display: inline;
}
.nav a{
  color: black;
}
.nav h1{
  display: inline;
}
.nav a:hover{
  color:gray;
}
.window img{
  max-width: 300px;
}
