/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$hamburger-layer-color: white;
$hamburger-padding-y: 5px;
@import "hamburgers";
$primary-color: #3644A1;
$light-text-color: white;
$dark-text-color: black;
html, body{
  overflow-x: hidden;
}
/* Image collection card styles */
.img-card{
  position: relative;
}
.img-card-3{
  height: 400px;
}
.img-card-2{
  height: 450px;
}
.img-card-1{
  height: 500px;
}
.img-holder{
  overflow: hidden;
}
.img-holder-3{
  height: 250px;
}
.img-holder-2{
  height: 300px;
}
.img-holder-1{
  height: 350px;
}
.img-card .button{
  position: absolute;
  bottom: 0;

}
.delete-button{
  right: 0;
  max-width: 50%;
}
.img-holder img{
  min-width: 100%;
  max-width: 200%;
  min-height: 100%;
}
/* End of image card collection styles */
textarea{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
tr{
  font-size: 1.5em;
}
/* Start of Navbar Styles */
.nav{
  background-color: $primary-color;
  color: $light-text-color;
  padding:20px;
  margin-bottom: 20px;
}
.nav ul{
  list-style: none;
  display: inline;
}
.nav li{
  text-decoration: none;
  display: inline;
  margin: 20px;
}
.nav a{
  color: $light-text-color;
  text-decoration: none;
}
.nav h1{
  display: inline;
}
.nav a:hover{
  color: $dark-text-color;
  text-decoration: none;
}
.toggle{
  float: right;
}
/* End of Navbar styles */
/* Footer Styles */
footer{
  margin-top: 20px;
  background-color: $primary-color;
  color: $light-text-color;
}
footer p{
  margin: 0.67em 0;
}
.push{
  min-height: 90vh;
  margin-bottom: 20px;
}
/* End of Footer Styles */
/* Modal Styles */
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
/* End of Modal Styles */
/* Map Styles */
.create-button{
  position: relative;
  left: 75px;
  top: 10px;
  background-color: white !important;
  z-index: 999;
}
.map-alert{
  position: relative;
  left: 75px;
  top: 10px;
  border-radius: 20px;
  padding: 20px;
  max-width: 300px;
  background-color: white !important;
  z-index: 999;
}
#map{
  margin-top: -20px;
  width: 100%;
  height: 80vh;
  margin-bottom: -20px;
}
.signed-in{
  margin-top:  -70px !important;
}
.not-verified{
  margin-top: -160px !important;
}
.popup-image{
  max-width: 300px !important;
  display: block;
  padding-bottom: 20px;
}
.mapboxgl-popup-content{
  max-width: 300px;
}
.marker {
  background-image: url('https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/camera-512.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 0%;
  cursor: pointer;
}
/* End of Map Styles */
/* User partial Styles */
.user-banner{
  background-color: $primary-color;
  color: $light-text-color;
  padding: 20px;
  margin-bottom: 20px;
}
.user-banner h3{
  display: inline;
}
.profile-img{
  display: inline-block;
  background: url('https://png.icons8.com/android/1600/user.png');
  background-size: cover;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img> img{
  max-width: 150%;
  min-width: 100%;
  min-height: 100%;
}
.display-none{
  display: none !important;
}
/* End of User Partial Styles */
/*Mobile Media Query*/
@media only screen and (max-width: 500px){
  .nav ul{
    display: none;
  }
  .nav li {
    display: block !important;
  }
}
/*Non Mobile Media Query*/
@media only screen and (min-width: 500px){
  .toggle{
    display: none !important;
  }
}
