/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Path 2: */
$hamburger-layer-color: white;
$hamburger-padding-y: 5px;
@import "hamburgers";
$primary-color: #9013FE;
$blue-blob-color: #CAFDF5;
$light-text-color: #ECECEC;
$link-highlight-color: #CAFDF5;
$dark-text-color: black;
html, body{
  overflow-x: hidden;
  background-color: $light-text-color;
}
.field{
  margin-bottom: 20px;
}
.form-group{
  margin-bottom: 20px;
}
.show-image{
  width: 100%;
}
.show-image-desc {
}
.profile-img{
  margin-bottom: -7px;
  margin-right: 2px;
}
/* Image collection card styles */
.search-bar input{
  border-radius: 30px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: 100%;
  margin-right: -5%;
}
.search-bar {
  margin-bottom: 20px;
}
.img-card{
  position: relative;
}
.img-card-3{
  height: 450px;
}
.img-card-3:nth-child(3n+4){
  margin-left: 0px !important;
}
.img-card-2{
  height: 500px;
}
.img-card-1{
  height: 550px;
}
.img-holder{
  overflow: hidden;
}
.img-holder-3{
  height: 250px;
}
.img-holder-2{
  height: 300px;
}
.img-holder-1{
  height: 350px;
}
.img-card .button{
  position: absolute;
  bottom: 0;

}
.delete-button{
  right: 0;
  max-width: 50%;
}
.img-holder img{
  min-width: 100%;
  min-height: 100%;
}
.img-card-link{
  color: $primary-color;
  text-decoration: none;
}
.img-card-link:hover{
  color: $dark-text-color !important;
}
.img-card .profile-img{
  margin-bottom: -7px !important;
}
/* End of image card collection styles */
textarea{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
tr{
  font-size: 1.5em;
}
/* Start of Navbar Styles */
.nav{
  display: block;
  background-color: $primary-color;
  color: $light-text-color;
  padding:20px;
  margin-bottom: 20px;
}
.nav h1{
  font-weight: bold !important;
  font-size: 2.0em;
}
.nav ul{
  list-style: none;
  display: inline;
}
.nav li{
  text-decoration: none;
  display: inline;
  margin: 20px;
}
.nav li>a{
  font-weight: lighter !important;
}
.nav a{
  color: $light-text-color;
  text-decoration: none;
}
.nav h1{
  display: inline;
}
.nav a:hover{
  color: $link-highlight-color;
  text-decoration: none;
}
.toggle-wrapper{
  grid-row: 1;
  grid-column: toggle-s/toggle-e;
  position: relative;
  height: 100%;
}
.toggle{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#toggle:hover{
  color: $light-text-color;
  background: none !important;
  outline: none !important;
}
/* End of Navbar styles */
/* Start of UserTab Styles */
.user-tab{
  float: right !important;
  margin: 0px !important;
}
.user-tab>ul{
  position: absolute;
  right: 0px;
  top: 60px;
  z-index: 999;
  display: none;
  list-style: none;
  background-color: $primary-color;
}
.mobile-user-email{
  display: none;
}
.user-tab li{
  display: block;
}
.user-tab:hover{
  ul{
    display: block;
  }
}
/* End of UserTab Styles */
/* Footer Styles */
footer{
  z-index: 999;
  margin-top: 20px;
  background-color: $primary-color;
  color: $light-text-color;
}
footer p{
  margin: 0.67em 0;
}
footer a{
  color: $light-text-color;
  text-decoration: none;
}
footer a:hover{
  color: $link-highlight-color;
}
.push{
  min-height: 90vh;
  margin-bottom: 20px;
}
/* End of Footer Styles */
/* Modal Styles */
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1000; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
/* End of Modal Styles */
/* Map Styles */
.create-button{
  position: absolute;
  left: 75px;
  top: 10px;
  background-color: $primary-color !important;
  z-index: 999;
}
.create-button:hover{
  background-color: $blue-blob-color !important;
}
.map-alert{
  position: absolute;
  left: 75px;
  top: 10px;
  border-radius: 20px;
  padding: 20px;
  max-width: 300px;
  background-color: white !important;
  z-index: 999;
}
#map{
  top: -20px;
  width: 100%;
  height: 80vh;
  margin-bottom: -40px;
}
.signed-in{
  margin-top:  -70px !important;
}
.not-verified{
  margin-top: -160px !important;
}
.popup-image{
  max-width: 300px !important;
  display: block;
  padding-bottom: 20px;
}
.mapboxgl-popup-content{
  max-width: 300px;
}
.marker {
  background-image: url('https://s3-us-west-2.amazonaws.com/staticgeofocus/70+by+70.png');
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 0%;
  cursor: pointer;
}
.map-container{
  position: relative;
}
/* End of Map Styles */
/* Location Search Styles */
.location-search{
  position: absolute;
  right: 20px;
  top: 10px;
  width: 400px;
  z-index: 998;
}
.location-search input{
  width: 100%;
  border-radius: 30px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.location-search-result{
  width: 380px;
  background-color: white;
  color: $dark-text-color;
  display: block;
  border-radius: 10px;
  border: 1px solid $light-text-color;
  padding: 10px;
}
.location-search-result h3{
  margin-bottom: 0px;
  font-size: 1.2em !important;
}
.location-search-result p{
  margin-bottom: 0px;
  font-size: 0.8em !important;
}
.location-search-result a{
  color: $dark-text-color;
  text-decoration: none;
}
.location-search-result a:hover{
  color: $primary-color;
  text-decoration: none;
}
/* End of Location Search Styles */
/* User partial Styles */
.user-banner{
  background-color: $primary-color;
  color: $light-text-color;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
}
.user-banner .profile-img{
  margin-bottom: -13px;
  flex-basis: 50px;
  min-width: 50px;
}
.user-banner h3{
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  margin-left: 10px;
  height: 50px;
}
.user-show-banner{
  margin-top: -20px;
  position: relative;
  display: block;
  height: 400px;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  margin-bottom: 50px;
}
.user-show-banner>h1{
  color: $light-text-color;
  position: absolute;
  font-size: 2em;
  left: 230px;
  right:0px;
  bottom: 20px;
}
.user-show-banner>p{
  position: absolute;
  color: $light-text-color;
  left: 230px;
  font-size: 1em;
  bottom: -15px;
}
.user-show-banner>.profile-img{
  position: absolute;
  left: 20px;
  bottom: -40px;
}
.profile-img{
  display: inline-block;
  background: url('https://png.icons8.com/android/1600/user.png');
  background-size: cover;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img> img{
  background-color: $dark-text-color;
}
.profile-link-wrapper{
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  a{
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.display-none{
  display: none !important;
}
/* End of User Partial Styles */
/* Start of Review Card Styles */
.review-card{
  background-color: $primary-color;
  color: $light-text-color;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.review-card-header{
  font-size: 1.5em;
  margin-bottom: 20px;
  padding-right: 20px;
}
.review-card-header .profile-img{
  margin-bottom: -18px;
  margin-right: 5px;
}
.review-card-body a{
  color: $light-text-color;
  text-decoration: none;
  margin-right: 20px;
}
.review-card-body a:hover{
  color: $blue-blob-color !important;
}
.review-score p{
  position: absolute;
  top: 3px;
  right: 50px;
}
.review-score{
  margin-top: 20px;
  display: block;
  position: relative;
  width: 100%;
  background-color: $light-text-color;
  border-radius: 20px;
  padding: 5px;
  text-align: right;
  color: $primary-color;
}
.white-review-background{
  background-color: $primary-color !important;
  color: $light-text-color !important;
  margin-bottom: 20px;
  font-size: 1.5em;
}
.review-score-value{
  height: 30px;
  border-radius: 15px;
  background-color: $blue-blob-color;
  text-align: right;
  padding-right: 5px;
}
.radial-score{
  width: 100px;
  height: 100px;
  position: relative;
}
.radial-background{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  z-index: 2;
  background-color: $primary-color;
}
.radial-ring{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $blue-blob-color;
}
.radial-cutout{
  position: absolute;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
}
.radial-score p{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 2.0em;
  color: $light-text-color;
  z-index: 3;
  transform: translate(-50%, -50%);
}
.radial-score-review{
  float: right;
}
/* End of Review Card styelds */
.cropit-preview{
  border: 1px solid $primary-color;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cropit-image-zoom-input{
  width: 400px;
  display: block;
}
.footer-wrapper{
  display: flex;
  justify-content: center;
  .footer-section{

  }
}
/* Location Header Styles */
.location-header{
  margin-top: -20px;
  position: relative;
  display: block;
  height: 400px;
  overflow: hidden;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  margin-bottom: 20px;
}
.location-header>h1{
  color: $light-text-color;
  position: absolute;
  font-size: 4em;
  left:0px;
  right:0px;
  top: 40%;
  text-align: center;
}
/*Content Loader Spinner Styles*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $primary-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.float-loader{
  display: none;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -80px;
  width: 160px;
  padding: 20px;
  border-radius: 20px;
  background-color: $link-highlight-color;
  color: $primary-color;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*Mobile Media Query*/
@media only screen and(max-width: 800px){
  .user-banner{
    h3{
      font-size: 1.5em;
    }
  }
  .review-card-header{
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 500px){
  .nav{
    display: grid;
    grid-template-columns: [s title-s] 1fr [title-e toggle-s] 40px [toggle-e e];
    grid-template-rows: 70px 1fr;
  }
  .nav h1{
    margin: 0;
    position: relative;
    a{
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
    }
  }
  .nav ul{
    grid-row: 2;
    grid-column: s/e;
    display: none;
  }
  .nav li {
    display: block !important;
  }
  .img-card-2{
    height: 400px;
  }
  .img-card-1{
    height: 400px;
  }
  .img-holder-2{
    height: 250px;
  }
  .img-holder-1{
    height: 250px;
  }
  .user-tab{
    float: none !important;
    position: relative !important;
  }
  .user-tab>ul{
    top: 0px !important;
    position: relative !important;
    display: none;
    list-style: none;
    background-color: $primary-color;
    margin: 0px !important;
  }
  .mobile-user-email{
    font-size: 0.8em;
    display: inline;
  }
  .user-tab .desktop-user-email{
    display: none !important;
  }
  .user-tab li{
    display: block;
  }
  .user-banner h3{
    font-size: 1.0em !important
  }
  .review-card-header{
    font-size: 0.75em !important;
  }
  .user-show-banner>h1{
    font-size: 1.5em !important;
    left: 20px !important;
    left: 20px !important;
    bottom: 20px;
  }
  .user-show-banner>p{
    left: 20px !important;
    font-size: 1em;
    bottom: -15px;
  }
  .user-show-banner>.profile-img{
    position: absolute;
    left: 50% !important;
    margin-left: -100px !important;
    top: 50px !important;
    bottom: auto !important;
  }
  .user-tab>.profile-img{
    margin-bottom: -20px !important;
    margin-right: 5px !important;
  }
  .user-tab{
    padding-left: 20px;
  }
  .review-score p{
    top: 7px !important;
    right: 20px !important;
    font-size: 1.5em !important;
  }
  .white-review-background{
    font-size: 0.72em !important;
  }
  .location-search{
    display: none;
  }
  .radial-score-review{
    margin-top: 20px;
    width: 80px !important;
    height: 80px !important;
  }
  .radial-score-review .radial-cutout{
    width: 80px !important;
    height: 80px !important;
  }
  .radial-score-review .radial-ring{
    width: 80px !important;
    height: 80px !important;
  }
  .radial-score-review .radial-background{
    width: 60px;
    height: 60px;
  }
}
/*Non Mobile Media Query*/
@media only screen and (min-width: 500px){
  .toggle{
    display: none !important;
  }
  .nav{
    display: block;
  }
  .toggle-wrapper{
    display: none;
  }
  .nav li>a{
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 304px){
  .nav{
    h1{
      font-size: 1.0em;
    }
  }
}
