.landing-content{
  height: 75vh;

}
.landing-parent{
  overflow:hidden;
  position: relative;
  background-color: #9013FE;
  margin-top: -20px;
  margin-bottom:-20px;
}
.card-area{
  height: 300px;
  background-color: #ECECEC;
}
.landing-card{
  top: 40px;
  bottom: 40px;
  position: absolute;
  width: 40%;
}
.landing-card > img{
  max-width: 100%;
  min-height: 100%;
}
.landing-card > h1 {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
}
.landing-card > p {
  position: absolute;
  top: 70px;
  left: 20px;
  right: 20px;
  text-align: center;
}
.landing-card-row{
  margin-top: 20px;
  margin-bottom: 20px;
}
.svg-text{
  float: left;
  position: absolute;
  max-width: 50%;
  top: 100px;
  left: 175px;
}
.right-blob{
  float: right;
}
.left-blob{
  float: left;
  position: absolute;
  bottom: 0px;
}
.left-landing{
  left: 5%;
}
.right-landing{
  right: 5%
}
@media only screen and (max-width: 500px){
  .left-blob{
    position: absolute !important;
    bottom: 0px !important;
    left: -150px !important;
  }
  .right-blob{
    float: none !important;
    right: -250px !important;
    position: absolute !important;
  }
  .svg-text{
    float: none !important;
    position: absolute !important;
    top: 50px !important;
    left: 20px !important;
    max-width: 90% !important;
  }
  .landing-card{
    width: 100% !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
  }
  .landing-card p{
    top: 60px !important;
    font-size: 0.8em !important;
  }
  .card-area{
    padding-top: 20px !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 900px) and (min-width: 500px){
  .landing-card{
    width: 100% !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
  }
  .landing-card img{
    max-width: none !important;
    width: 100% !important;
  }
  .landing-card p{
    top: 60px !important;
    font-size: 1.2em !important;
  }
  .svg-text{
    float: none !important;
    position: absolute !important;
    top: 50px !important;
    left: 50px !important;
    max-width: 50% !important;
  }
  .card-area{
    padding-top: 20px !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .landing-card > img{
    max-width: none !important;
    min-height: 100%;
    width: 130% !important;
  }
  .landing-card > h1 {
    width: 130% !important;
  }
  .landing-card > p {
    width: 120% !important;
    left: 5% !important;
  }
  .left-landing{
    left: -5% !important;
  }
  .right-landing{
    right: 5% !important;
  }
}
@media only screen and (min-width: 1900px){
  .landing-card > img{
    max-width: none !important;
    min-height: 100%;
    width: 200% !important;
  }
  .landing-card > h1 {
    position: absolute;
    top: 50px !important;
    text-align: center;
    width: 200% !important;
  }
  .landing-card > p {
    position: absolute;
    top: 140px !important;
    left: 10% !important;
    width: 180% !important;
    text-align: center;
    font-size: 1.2em !important;
    line-height: 3.0 !important;
  }
  .card-area{
    height: 600px !important;
  }
  .left-landing{
    left: -40% !important;
  }
  .right-landing{
    right: 0% !important;
  }
  .left-blob{
    width: 20%;
  }
  .right-blob{
    width: 20%;
  }
}
