.landing-content{
  height: 75vh;

}
.landing-parent{
  overflow:hidden;
  position: relative;
  background-color: #9013FE;
  margin-top: -20px;
  margin-bottom:-20px;
}
.card-area{
  background-color: #ECECEC;
  display: grid;
  width: 100%;
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: 40px [card1-s] 1fr [card1-e card2-s] 1fr [card2-e] 40px;
  grid-column-gap: 40px;
}
.landing-card{
  grid-row: 2/3;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 99999999;
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
}
.svg-text{
  float: left;
  position: absolute;
  max-width: 50%;
  top: 100px;
  left: 175px;
}
.right-blob{
  float: right;
}
.left-blob{
  float: left;
  position: absolute;
  bottom: 0px;
}
.left-landing{
  grid-column: card1-s/card1-e;
}
.right-landing{
  grid-column: card2-s/card2-e;
}
@media only screen and (max-width: 500px){
  .left-blob{
    position: absolute !important;
    bottom: 0px !important;
    left: -150px !important;
  }
  .right-blob{
    float: none !important;
    right: -250px !important;
    position: absolute !important;
  }
  .svg-text{
    float: none !important;
    position: absolute !important;
    top: 50px !important;
    left: 20px !important;
    max-width: 90% !important;
  }
}
@media only screen and (max-width: 900px) and (min-width: 500px){

  .svg-text{
    float: none !important;
    position: absolute !important;
    top: 50px !important;
    left: 50px !important;
    max-width: 50% !important;
  }
  .card-area{
    padding-top: 20px !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 900px) {

}
@media only screen and (min-width: 1900px){
  .left-blob{
    width: 20%;
  }
  .right-blob{
    width: 20%;
  }
}
@media only screen and (max-width: 800px){
  .card-area{
    grid-template-columns: 40px [card-s] 1fr [card-e] 40px;
    grid-column-gap: 0px;
    grid-template-rows: 40px [card1-s] 1fr [card1-e card2-s] 1fr [card2-e] 40px;
    grid-row-gap: 40px;
  }
  .landing-card{
    grid-column: card-s/card-e;
  }
  .left-landing{
    grid-row: card1-s/card1-e;
  }
  .right-landing{
    grid-row: card2-s/card2-e;
  }
}
