$hamburger-layer-color: white;
$hamburger-padding-y: 5px;
@import "hamburgers";
$primary-color: #9013FE;
$blue-blob-color: #CAFDF5;
$light-text-color: #ECECEC;
$link-highlight-color: #CAFDF5;
$dark-text-color: black;
